fastapi
uvicorn
whisper
voyageai
redis
sentence-transformers
openai
python-dotenv
groq
requests
numpy
Jinja2
google-api-python-client
google-auth
firebase-admin
google-cloud-firestore
langchain
langchain-huggingface
langchain-google-genai
langchain-community
fastui
nltk
faiss-cpu
aiofiles
unstructured
