fastapi
uvicorn

voyageai
redis
markdown
openai
python-dotenv
groq
requests
numpy
deepgram-sdk
Jinja2
google-api-python-client
google-auth
firebase-admin
google-cloud-firestore
langchain
langchain-huggingface
langchain-google-genai
langchain-community
fastui
nltk
faiss-cpu
aiofiles
unstructured
markdown2
vertexai
llama_parse
# openai-whisper
python-multipart

streamlit
Pillow

requests
beautifulsoup4
anthropic
fastapi
uvicorn
Flask
pocketgroq>=0.1.5
tldextract
html2text
pillow